*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #2a2828;
    margin-top: -70px;
    margin-bottom: 20px;
}

.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(140deg, #00feba,#5b548a );
    margin: 100px auto 0;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 50px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#btn{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
    padding: 18px;

}

.searchbtn{
    height: 16px;
    width: 15px;
}
.weather-icon{
    width:170px;
    margin-top: 30px;
}
.temp{
    font-size: 80px;
    font-weight: 500px;
}
.city{
    font-size: 40px;
    margin-top: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;
}
.Weather{
    display: none;
}
#error{
    text-align: left;
    margin-top: 10px;
}
.git{
    text-align: center;
}
/* .icon{
   padding-top: 30%;
} */

@media(max-width:479px){
    #input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    }

}
@media(max-width:420px){
    #input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 5px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    }
    

}

@media(max-width:435px){
    .wind,.humidity{
        font-size: 20px;
    }

}


